In [ ]:
#Task 1 There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

In [397]:
#Create First dataframe as Project and save it as 'Project.csv'

#import pandas library as a pd object
import pandas as pd

#DataFrame creation using Dictionary
data= { 'ID': ['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001', 'A004','A004','A005'], 
       'Project': ['Project 1','Project 2','Project 3','Project 4','Project 5','Project 6','Project 7','Project 8','Project 9', 
                   'Project 10','Project 11','Project 12','Project 13','Project 14'], 
       'Cost': [1002000, 2000000, 4500000, 5500000, np.nan , 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
      'Status': ['Finished', 'Ongoing','Finished', 'Ongoing','Finished', 'Failed', 'Finished','Failed', 'Ongoing', 'Finished','Failed', 'Ongoing','Finished','Finished']}

#Create dataframe df for the content of data variable
df=pd.DataFrame(data)

# Save the dataframe as csv
df.to_csv('Project.csv')


#Read saved csv and remove unnamed index
df=pd.read_csv('Project.csv' , index_col=0)

#Print the dataframe without showing index
print(df.to_string(index=False))

  ID    Project      Cost   Status
A001  Project 1 1002000.0 Finished
A002  Project 2 2000000.0  Ongoing
A003  Project 3 4500000.0 Finished
A004  Project 4 5500000.0  Ongoing
A005  Project 5       NaN Finished
A002  Project 6  680000.0   Failed
A005  Project 7  400000.0 Finished
A003  Project 8  350000.0   Failed
A001  Project 9       NaN  Ongoing
A003 Project 10  300000.0 Finished
A001 Project 11 2000000.0   Failed
A004 Project 12 1000000.0  Ongoing
A004 Project 13 3000000.0 Finished
A005 Project 14  200000.0 Finished

In [209]:
#Create Second dataframe as Employee and save it as 'Employee.csv'

#import pandas library as pd
import pandas as pd

#DataFrame creation using Dictionary
data1= {'ID': ['A001', 'A002', 'A003', 'A004', 'A005'], 
       'Name' : ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'], 
       'Gender': ['M', 'F', 'M','F', 'F'],
       'City' : ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
       'Age' : [25, 27, 29, 31,30]}

#Create dataframe for the content of data1 variable
df1=pd.DataFrame(data1)

# Save the dataframe as csv
df1.to_csv('Employee.csv')

#Read saved csv and remove unnamed index
df1=pd.read_csv('Employee.csv' , index_col=0)

#Print the dataframe without showing index
print(df1.to_string(index=False))

  ID            Name Gender    City  Age
A001      John Alter      M   Paris   25
A002 Alice Luxumberg      F  London   27
A003   Tom Sabestine      M  Berlin   29
A004      Nina Adgra      F Newyork   31
A005       Amy Johny      F  Madrid   30

In [111]:
#Create third dataframe as Seniority level and save it as Senioritylevel.csv

#import pandas library as pd
import pandas as pd

#DataFrame creation using Dictionary
data2= { 'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
         'Designation Level' : [2,2,3,2,3]}

#Create dataframe for the content of data2 variable
df2=pd.DataFrame(data2)

# Save the dataframe as csv
df2.to_csv('Senioritylevel.csv')

#Read saved csv and remove unnamed index
df2=pd.read_csv('Senioritylevel.csv', index_col=0)

#Print the dataframe without showing index
print(df2.to_string(index=False))

  ID  Designation Level
A001                  2
A002                  2
A003                  3
A004                  2
A005                  3

In [401]:
#Task 2-The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

#import pandas library as pd and numpy as np
import pandas as pd
import numpy as np

# Read the CSV
df = pd.read_csv('Project.csv', index_col=0)


# Loop to fill missing values with running average
for i in range(len(df)):
    if pd.isna(df.loc[i, 'Cost']):
        df.loc[i, 'Cost'] = df.loc[:i-1, 'Cost'].mean()
        
#Convert the Cost column into integer to remove the decimal points
df['Cost']=df['Cost'].astype(int)

 # Print the updated DataFrame
print(df.to_string(index=False))

df.to_csv('Project.csv')

  ID    Project    Cost   Status
A001  Project 1 1002000 Finished
A002  Project 2 2000000  Ongoing
A003  Project 3 4500000 Finished
A004  Project 4 5500000  Ongoing
A005  Project 5 3250500 Finished
A002  Project 6  680000   Failed
A005  Project 7  400000 Finished
A003  Project 8  350000   Failed
A001  Project 9 2210312  Ongoing
A003 Project 10  300000 Finished
A001 Project 11 2000000   Failed
A004 Project 12 1000000  Ongoing
A004 Project 13 3000000 Finished
A005 Project 14  200000 Finished

In [385]:
#Task 3-Split the name column in the Employee dataframe into two new columns “First Name”, and “Last Name” and remove the older “name” column.

#import pandas library as pd
import pandas as pd

# Read the CSV
df = pd.read_csv('Employee.csv', index_col=0)

#Split the Name column into two columns as First name and Last name
df[['First Name','Last Name']]=df.Name.str.split(expand=True)

#Remove Name column from Employee dataframe
newdf=df.drop('Name', axis='columns')

#Print the updated 
print(newdf.to_string(index=False))

  ID Gender    City  Age First Name Last Name
A001      M   Paris   25       John     Alter
A002      F  London   27      Alice Luxumberg
A003      M  Berlin   29        Tom Sabestine
A004      F Newyork   31       Nina     Adgra
A005      F  Madrid   30        Amy     Johny

In [273]:
#Task 4-Join all three dataframes in one single dataframe. Name it “Final”

#import pandas library as pd
import pandas as pd

# Read the Project CSV
df=pd.read_csv('Project.csv', index_col=0)

#Merge first Project dataframe and the second Employee dataframe on a common column name 'ID'
mergedf=pd.merge(df, newdf, on='ID')

#Merge the first two combined dataframe and the third seniritylevel dataframe on a common column name 'ID'
mergedf=pd.merge(mergedf,df2, on='ID')

#Save the merged dataframe as a 'Final.csv'
mergedf.to_csv('Final.csv')

#Read the newly created Final.csv
df_1=pd.read_csv('Final.csv', index_col=0)

#Print updated combined dat
print(df_1.to_string(index=False))

  ID    Project    Cost   Status Gender    City  Age First Name Last Name  Designation Level
A001  Project 1 1002000 Finished      M   Paris   25       John     Alter                  2
A002  Project 2 2000000  Ongoing      F  London   27      Alice Luxumberg                  2
A003  Project 3 4500000 Finished      M  Berlin   29        Tom Sabestine                  3
A004  Project 4 5500000  Ongoing      F Newyork   31       Nina     Adgra                  2
A005  Project 5 3250500 Finished      F  Madrid   30        Amy     Johny                  3
A002  Project 6  680000   Failed      F  London   27      Alice Luxumberg                  2
A005  Project 7  400000 Finished      F  Madrid   30        Amy     Johny                  3
A003  Project 8  350000   Failed      M  Berlin   29        Tom Sabestine                  3
A001  Project 9 2210312  Ongoing      M   Paris   25       John     Alter                  2
A003 Project 10  300000 Finished      M  Berlin   29        Tom Sabestine                  3
A001 Project 11 2000000   Failed      M   Paris   25       John     Alter                  2
A004 Project 12 1000000  Ongoing      F Newyork   31       Nina     Adgra                  2
A004 Project 13 3000000 Finished      F Newyork   31       Nina     Adgra                  2
A005 Project 14  200000 Finished      F  Madrid   30        Amy     Johny                  3

In [275]:
#Task 5-Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

#import pandas library as pd
import pandas as pd

#Read the newly created Final.csv
df=pd.read_csv('Final.csv', index_col=0)

#Add new column as Bonus to the final dataframe and add 5% bonus to those who have Status as Finished
df['Bonus']=df.apply(lambda x: int(0.05* x['Cost']) if x['Status']=='Finished' else 0, axis=1)

#Print the updated findl dataframe
print(df.to_string (index=False))

  ID    Project    Cost   Status Gender    City  Age First Name Last Name  Designation Level  Bonus
A001  Project 1 1002000 Finished      M   Paris   25       John     Alter                  2  50100
A002  Project 2 2000000  Ongoing      F  London   27      Alice Luxumberg                  2      0
A003  Project 3 4500000 Finished      M  Berlin   29        Tom Sabestine                  3 225000
A004  Project 4 5500000  Ongoing      F Newyork   31       Nina     Adgra                  2      0
A005  Project 5 3250500 Finished      F  Madrid   30        Amy     Johny                  3 162525
A002  Project 6  680000   Failed      F  London   27      Alice Luxumberg                  2      0
A005  Project 7  400000 Finished      F  Madrid   30        Amy     Johny                  3  20000
A003  Project 8  350000   Failed      M  Berlin   29        Tom Sabestine                  3      0
A001  Project 9 2210312  Ongoing      M   Paris   25       John     Alter                  2      0
A003 Project 10  300000 Finished      M  Berlin   29        Tom Sabestine                  3  15000
A001 Project 11 2000000   Failed      M   Paris   25       John     Alter                  2      0
A004 Project 12 1000000  Ongoing      F Newyork   31       Nina     Adgra                  2      0
A004 Project 13 3000000 Finished      F Newyork   31       Nina     Adgra                  2 150000
A005 Project 14  200000 Finished      F  Madrid   30        Amy     Johny                  3  10000

In [285]:
#Task 6-Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

#import Pandas library as pd
import pandas as pd

#Read the newly created Final.csv
df=pd.read_csv('Final.csv', index_col=0)

#Decrease the desgnation level by 1 if project status is Failed
df.loc[df['Status']=='Failed', 'Designation Level']-=1

#Remove the records of the dataframe where Designation level is above 4
df=df[df['Designation Level']<=4]

#Print the updated dataframe
print(df.to_string (index=False))

  ID    Project    Cost   Status Gender    City  Age First Name Last Name  Designation Level
A001  Project 1 1002000 Finished      M   Paris   25       John     Alter                  2
A002  Project 2 2000000  Ongoing      F  London   27      Alice Luxumberg                  2
A003  Project 3 4500000 Finished      M  Berlin   29        Tom Sabestine                  3
A004  Project 4 5500000  Ongoing      F Newyork   31       Nina     Adgra                  2
A005  Project 5 3250500 Finished      F  Madrid   30        Amy     Johny                  3
A002  Project 6  680000   Failed      F  London   27      Alice Luxumberg                  1
A005  Project 7  400000 Finished      F  Madrid   30        Amy     Johny                  3
A003  Project 8  350000   Failed      M  Berlin   29        Tom Sabestine                  2
A001  Project 9 2210312  Ongoing      M   Paris   25       John     Alter                  2
A003 Project 10  300000 Finished      M  Berlin   29        Tom Sabestine                  3
A001 Project 11 2000000   Failed      M   Paris   25       John     Alter                  1
A004 Project 12 1000000  Ongoing      F Newyork   31       Nina     Adgra                  2
A004 Project 13 3000000 Finished      F Newyork   31       Nina     Adgra                  2
A005 Project 14  200000 Finished      F  Madrid   30        Amy     Johny                  3

In [297]:
#Task 7:Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

#import Pandas library as pd
import pandas as pd

#Read the newly created Final.csv
df=pd.read_csv('Final.csv', index_col=0)

# Add prefix Mr or Mrs to the First Name by checking Gender as M or F using if condition
df['First Name']=df.apply(lambda row: 'Mr.' + row['First Name'] if row['Gender']=='M' else 'Mrs.' + row['First Name'], axis=1)

#Remove Gender column from the dataframe
df=df.drop(columns=['Gender'])

#Print updated dataframe without index
print(df.to_string (index=False))

  ID    Project    Cost   Status    City  Age First Name Last Name  Designation Level
A001  Project 1 1002000 Finished   Paris   25    Mr.John     Alter                  2
A002  Project 2 2000000  Ongoing  London   27  Mrs.Alice Luxumberg                  2
A003  Project 3 4500000 Finished  Berlin   29     Mr.Tom Sabestine                  3
A004  Project 4 5500000  Ongoing Newyork   31   Mrs.Nina     Adgra                  2
A005  Project 5 3250500 Finished  Madrid   30    Mrs.Amy     Johny                  3
A002  Project 6  680000   Failed  London   27  Mrs.Alice Luxumberg                  2
A005  Project 7  400000 Finished  Madrid   30    Mrs.Amy     Johny                  3
A003  Project 8  350000   Failed  Berlin   29     Mr.Tom Sabestine                  3
A001  Project 9 2210312  Ongoing   Paris   25    Mr.John     Alter                  2
A003 Project 10  300000 Finished  Berlin   29     Mr.Tom Sabestine                  3
A001 Project 11 2000000   Failed   Paris   25    Mr.John     Alter                  2
A004 Project 12 1000000  Ongoing Newyork   31   Mrs.Nina     Adgra                  2
A004 Project 13 3000000 Finished Newyork   31   Mrs.Nina     Adgra                  2
A005 Project 14  200000 Finished  Madrid   30    Mrs.Amy     Johny                  3

In [307]:
#Task 8:Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

#import Pandas library as pd
import pandas as pd

#Read the Final.csv
df=pd.read_csv('Final.csv', index_col=0)

#Increase designation level by 1 if the age is more than 29 using if condition
df['Designation Level']=df.apply(lambda x: x['Designation Level']+1 if x['Age']>29 else x['Designation Level'], axis=1)

#Print updated dataframe without index
print(df.to_string (index=False))

  ID    Project    Cost   Status Gender    City  Age First Name Last Name  Designation Level
A001  Project 1 1002000 Finished      M   Paris   25       John     Alter                  2
A002  Project 2 2000000  Ongoing      F  London   27      Alice Luxumberg                  2
A003  Project 3 4500000 Finished      M  Berlin   29        Tom Sabestine                  3
A004  Project 4 5500000  Ongoing      F Newyork   31       Nina     Adgra                  3
A005  Project 5 3250500 Finished      F  Madrid   30        Amy     Johny                  4
A002  Project 6  680000   Failed      F  London   27      Alice Luxumberg                  2
A005  Project 7  400000 Finished      F  Madrid   30        Amy     Johny                  4
A003  Project 8  350000   Failed      M  Berlin   29        Tom Sabestine                  3
A001  Project 9 2210312  Ongoing      M   Paris   25       John     Alter                  2
A003 Project 10  300000 Finished      M  Berlin   29        Tom Sabestine                  3
A001 Project 11 2000000   Failed      M   Paris   25       John     Alter                  2
A004 Project 12 1000000  Ongoing      F Newyork   31       Nina     Adgra                  3
A004 Project 13 3000000 Finished      F Newyork   31       Nina     Adgra                  3
A005 Project 14  200000 Finished      F  Madrid   30        Amy     Johny                  4

In [335]:
#Task 9:Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost

#import Pandas library as pd
import pandas as pd

#Read the Final.csv
df=pd.read_csv('Final.csv', index_col=0)

#Calculate the total cost for all project for each employee using Groupby function
TotalProjCost=df.groupby(['ID', 'First Name'], as_index=False) ['Cost'].sum()

#Rename the column name cost to total cost in the new created dataframe
TotalProjCost.rename(columns={'Cost': 'Total cost'}, inplace=True)

#Print the updated dataframe
print(TotalProjCost.to_string (index=False))

  ID First Name  Total cost
A001       John     5212312
A002      Alice     2680000
A003        Tom     5150000
A004       Nina     9500000
A005        Amy     3850500

In [383]:
#Task 10:Print all the employee details whose city name contains the letter “o” in it.

#import Pandas library as pd
import pandas as pd

df=pd.read_csv('Employee.csv', index_col=0)

emp_detail=df[df['City'].str.contains('o', case=False, na=False)]

print(emp_detail.to_string (index=False))

  ID            Name Gender    City  Age
A002 Alice Luxumberg      F  London   27
A004      Nina Adgra      F Newyork   31